.hasInfo {
  color: red;
  font-weight: 600;
  svg {
    color: red;
  }
}
.noInfo {
  color: #1677ff;
  font-weight: 600;
  svg {
    color: #1677ff;
  }
}

.content {
  background-color: rgb(245, 245, 245);
  border-radius: 14px;
  padding: 16px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}
